[submodule "3rdparty/zig-gamedev"]
	path = 3rdparty/zig-gamedev
	url = https://github.com/zig-gamedev/zig-gamedev.git
[submodule "3rdparty/sokol-zig"]
	path = 3rdparty/sokol-zig
	url = https://github.com/floooh/sokol-zig.git
